<div  class="jumbotron" ng-controller="MainController">
    <form novalidate="">
      <div style="margin:0 auto;">
       <img style="display:block;margin:0 auto;width:250px;" src="../../assets/images/logo_header.png"></img>
     </div>
     <h1 style="color:#ffffff;font-family:Arial;font-weight:bold;text-align:center;">VERIFICATION ENGINE</h1>
     <br>
     <br>

    <label class="myLabel">
       <input type="file" on-read-file="displayFileContents(contents)" name="file" class="pure-button pure-button-active"/><br/>
       <span>Upload Json</span>
   </label>
   <br>
   <div ng-show="requestId"  style="color:#ffffff;font-family:Arial;font-weight:bold;text-align:center;"><b>Request ID: </b>{{requestId}}</div>
   <br>
   <div ng-cloak ng-show= "showtable">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Input">
        <md-content class="md-padding">

         <pretty-json json="parsedJson"></pretty-json>
        </md-content>
      </md-tab>
      <md-tab label="Output">
        <md-content class="md-padding">
        <div style="margin-top:5%;overflow:scroll" ng-show="showtable" id="output"></div>

          </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>

   <div ng-show="loading" style="margin:0 auto;"><h2 style="color:#ffffff;font-family:Arial;font-weight:bold;text-align:center;">Uploading your data and verifying </h2>
   <img style="display:block;margin:0 auto;" src="../../assets/images/loading.gif"></img>

 </div>
    </form>


    <div style="color:#ffffff;font-family:Arial;font-weight:bold;text-align:center;" ng-show="error"><h2>{{error}}</h2></div>
</div>
