

body,html {
  margin: 0;
  width: 100%;
  min-width:100%;
  min-height: 100%;
  background: -webkit-linear-gradient(90deg, rgb(12, 32, 51), rgb(11, 43, 75));
  background: linear-gradient(90deg, rgb(12, 32, 51), rgb(11, 43, 75));

}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}



.jumbotron {
  padding: 50px 60px 10px 60px;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(90deg, rgb(12, 32, 51), rgb(11, 43, 75));
  background: linear-gradient(90deg, rgb(12, 32, 51), rgb(11, 43, 75));

  border-radius: 6px;
  min-height:550px;
}


label.myLabel{

  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  	box-shadow:inset 0px 1px 3px 0px #91b8b3;

  	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  	background-color:#768d87;
  	-moz-border-radius:5px;
  	-webkit-border-radius:5px;
  	border-radius:5px;
  	border:1px solid #566963;
  	display:block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
    width:200px;
    height:50px;
  	text-decoration:none;
    text-align: center;
  	text-shadow:0px -1px 0px #2b665e;
    margin:0 auto;


}
label.myLabel:hover{


background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
background-color:#6c7c7c;
}
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
